
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {
	--pink: #f38fb1;
	--yellow: #f1e6b7;
	--green: #16723e;
	--blue: #0097b2;
	--black: #111111;
    --gray: #c3c3c3;
    --brown: #793B09;
}

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }

  /* DESKTOP NAVBAR */

  header{
    background-color: var(--blue);

}

header .desktop-nav a{
  
    color: var(--yellow);
    text-decoration: none;
    font-size:1.5rem;
    

}

header .desktop-nav ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
   
   

}

header button{
    all:unset;
}

@media(max-width:768px){
    header .desktop-nav{
        display : none
    }
}

/* MOBILE NAVBAR */
@media(min-width: 768px){

  

 
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 40px;

    }

    header a {
        text-decoration: none;
        color: var(--black);
    }
    .desktop-nav{
        display: inline-block;
    }

    header nav ul{
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }

    .mobile-header svg {
        display: none;
    }
}

.mobile-nav a {
    text-decoration:none;
    color: var(--yellow);
    display: block;
    padding: 4px 16px;
    text-align: left;
    }
    
    
    .mobile-header{
        padding:16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    
    .display-none{
        display: none;
    }


/* INDEX PAGE */

  /* Hero Section */
  .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/portfolio3.jpg");
      background-size: cover;
      height: 100vh;

   
      
  }

  @media (max-width: 920px){



    

    .hero{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/portfolio-mobile.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0;
    flex-wrap: nowrap;
    
}
.curve svg {
    
    height: 150px;
  
}

#contact{
    
    padding:50px 10px;
    background-color: var(--blue);
  
}
  } 
  /*End Media queries*/


/*BIOGRAPHY*/



.bio{
    background-color: var(--yellow);
    margin:0;
    height:100vh;
    display:grid;
    place-content:center;
    justify-items: center;
    font-size:25px;
}

article h1{
    font-size:2rem;
    text-align: center;
    margin:20px;
}
article {
   
    padding: 40px 50px;

}

#bio-txt{
    margin: 50px 0;
    text-align: justify;
    width: 80%;
    overflow: auto;
    max-height: 60%;
    --g:radial-gradient(55% 20px, rgba(231, 219, 188, 0.6), #e7e25300);  
    background: 
    linear-gradient(#debb83 10px, #0000 40px calc(100% - 40px),#f4f5bb calc(100% - 10px)) local, 
    var(--g) top   /100% 200%,    
    var(--g) bottom/100% 200%;
}

.skills{
    display: inline;
    padding-top: 10px;
}



/* CONTACT PAGE*/


/* Global Variables */


label, input, textarea {
    display: block;
    width:100%;
    box-shadow: 0 2px 2px 0 var(--gray);
    border-radius: 10px;
}

#contact input{
    margin-bottom:16px;
}

input, textarea{
    padding: 8px;
    background-color: var(--gray)

}

#contact{
    
    padding:100px 16px;
    background-color: var(--blue);
    height: 100vh;
}

#contact  h2{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 16px;
}

.contact-txt{
    text-align: center;
    font-style:italic;
    font-size: 16px;
    margin-bottom: 20px;


}

#contact form{
    max-width: 60%;
    margin: 0 auto;

}

#contact input[type="submit"]{
    background-color: var(--yellow);
    font-size:24px;
    border: 0;
    margin-top: 24px;
    padding:16px;
    cursor: pointer;
}

/* PROJECTS PAGE */
.projects{
    background-color: var(--yellow);
    padding-bottom: 5%;
   
    
   
   }
.projects h2{
    display: block;
       text-align: center;
       padding: 20px;
       font-size:2rem;
       
}

.card-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-evenly;

}

.card {
    width:45%;
    box-shadow: 0 16px 16px 0 var(--black);
    border: 5px groove var(--blue);
    border-radius: 25px;
    transition: all 500ms ease;
    margin: 20px 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

 
  
  .card:hover {

        background-color: transparent;
        border-color:var(--grey);
        transform: translateY(-0.5rem);
  }
  
  .container {
    padding: 10px 16px;
  }

.card img{
    width:60%;
    border-radius: 15px;

}

.card p{
    font-size: smaller;
}
.card .btn{
    
     
        display: inline-block;
        background-color: aliceblue;
        color:black;
        padding: 0.6rem;
        border:2px solid transparent;
        border-radius:0.8em ;
        margin:5px;
        cursor:pointer;
        text-decoration: none;
        font-size: smaller;
    }
.card .btn:hover{
    box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
    transform: translateY(-4px);
    border-color:var(--gray);
 
}
 
/* FOOTER */

footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0097b2;
   text-align: center;


}
